### Import required libraries

In [9]:
import pandas as pd
import logging

### Set up basic logging

In [10]:
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

### First, let's create our sample provider data

In [11]:
provider_data = {
    'provider_id': [1001, 1002, 1003],
    'provider_name': ['Alpha Payments', 'Beta Financial', 'Gamma Processing'],
    'month_1_payments': [150000, 225000, 175000],
    'month_2_payments': [165000, 215000, 180000],
    'month_3_payments': [175000, 235000, 165000],
    'month_4_payments': [180000, 245000, 190000],
    'output_file': ['alpha_report.xlsx', 'beta_report.xlsx', 'gamma_report.xlsx']
}

### Create a DataFrame and save it as CSV

In [12]:
df_providers = pd.DataFrame(provider_data)
df_providers.to_csv('provider_data.csv', index=False)
print("Sample provider data created and saved to CSV:")
display(df_providers)

Sample provider data created and saved to CSV:

,provider_id,provider_name,month_1_payments,month_2_payments,month_3_payments,month_4_payments,output_file
0,1001,Alpha Payments,150000,165000,175000,180000,alpha_report.xlsx
1,1002,Beta Financial,225000,215000,235000,245000,beta_report.xlsx
2,1003,Gamma Processing,175000,180000,165000,190000,gamma_report.xlsx

### Execute the SQL Notebook

In [13]:
def execute_sql_notebook(provider_row):
    """
    Execute the SQL notebook with parameters from a provider row
    """
    logging.info(f"Processing provider: {provider_row['provider_name']} (ID: {provider_row['provider_id']})")
    
    try:
        # First set our parameters as global variables so the SQL notebook can access them
        globals().update({
            'provider_id': provider_row['provider_id'],
            'provider_name': provider_row['provider_name'],
            'month_1_payments': provider_row['month_1_payments'],
            'month_2_payments': provider_row['month_2_payments'],
            'month_3_payments': provider_row['month_3_payments'],
            'month_4_payments': provider_row['month_4_payments']
        })
        
        # Run the SQL notebook
        %run sql_example.ipynb
        
        # The results variable should now be available in our namespace
        return results
        
    except Exception as e:
        logging.error(f"Error executing SQL notebook: {str(e)}")
        raise

### Create excel

In [14]:
def create_excel_report(results, output_file):
    """
    Create Excel report from SQL analysis results
    """
    with pd.ExcelWriter(output_file, engine='openpyxl') as writer:
        # Write each analysis section to a different sheet
        for sheet_name, df_data in results.items():
            pd.DataFrame(df_data).to_excel(writer, sheet_name=sheet_name, index=False)
    
    logging.info(f"Report generated: {output_file}")
    return output_file

### Main processing loop

In [15]:
def process_providers():
    """
    Main function to process all providers
    """
    logging.info("Starting provider processing")
    
    for idx, row in df_providers.iterrows():
        try:
            # Execute SQL notebook
            results = execute_sql_notebook(row)
            
            # Create Excel report
            create_excel_report(results, row['output_file'])
            
        except Exception as e:
            logging.error(f"Error processing provider {row['provider_name']}: {str(e)}")
            continue
    
    logging.info("Provider processing completed")

### Execute the process

In [16]:
if __name__ == "__main__":
    process_providers()

2024-11-11 20:48:54,513 - INFO - Starting provider processing
2024-11-11 20:48:54,516 - INFO - Processing provider: Alpha Payments (ID: 1001)

Payment Summary:

,provider_id,provider_name,total_payments,avg_monthly_payment,highest_payment,lowest_payment,payment_fluctuation_pct
0,None,None,None,None,None,None,None

Monthly Trends:

   month_number payment_amount growth_rate
0             1           None        None
1             2           None        None
2             3           None        None
3             4           None        None

Payment Distribution:

  provider_id provider_name  num_months  months_above_avg  months_below_avg
0        None          None           4                 0                 0

2024-11-11 20:48:54,577 - ERROR - Error processing provider Alpha Payments: At least one sheet must be visible
2024-11-11 20:48:54,579 - INFO - Processing provider: Beta Financial (ID: 1002)

Payment Summary:

,provider_id,provider_name,total_payments,avg_monthly_payment,highest_payment,lowest_payment,payment_fluctuation_pct
0,None,None,None,None,None,None,None

Monthly Trends:

   month_number payment_amount growth_rate
0             1           None        None
1             2           None        None
2             3           None        None
3             4           None        None

Payment Distribution:

  provider_id provider_name  num_months  months_above_avg  months_below_avg
0        None          None           4                 0                 0

2024-11-11 20:48:54,609 - ERROR - Error processing provider Beta Financial: At least one sheet must be visible
2024-11-11 20:48:54,610 - INFO - Processing provider: Gamma Processing (ID: 1003)

Payment Summary:

,provider_id,provider_name,total_payments,avg_monthly_payment,highest_payment,lowest_payment,payment_fluctuation_pct
0,None,None,None,None,None,None,None

Monthly Trends:

   month_number payment_amount growth_rate
0             1           None        None
1             2           None        None
2             3           None        None
3             4           None        None

Payment Distribution:

  provider_id provider_name  num_months  months_above_avg  months_below_avg
0        None          None           4                 0                 0

2024-11-11 20:48:54,638 - ERROR - Error processing provider Gamma Processing: At least one sheet must be visible
2024-11-11 20:48:54,638 - INFO - Provider processing completed